// out: ../github-dark.css, compress: true, sourceMap: false
.markdown-preview-enhanced {
    background-color: #141414;
    color: #ccc;

    h1, h2, h3, h4, h5, h6, p {
        color: #ccc;
    }
}
