.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
styles/src/**
.envrc
.direnv/**
flake.lock
flake.nix
shell.nix
node_modules
.eslintignore
.prettierignore
build.js
prettier.config.js
.eslintrc.js