body,
body .slide {
  font-size: 16px;
  background-color: #f3f2ee;
  font-family: "PT Serif", 'Times New Roman', Times;
  color: #1f0909;
  line-height: 1.5em;
  /* styles */
  /* ====== */
  /* headings */
  /* links */
  /* block spacing */
  /* blockquote */
  /* lists */
  /* tables */
  /* some fixes */
}
body ol,
body .slide ol,
body ul,
body .slide ul {
  list-style: none;
}
body blockquote,
body .slide blockquote,
body q,
body .slide q {
  quotes: none;
}
body blockquote:before,
body .slide blockquote:before,
body blockquote:after,
body .slide blockquote:after,
body q:before,
body .slide q:before,
body q:after,
body .slide q:after {
  content: '';
  content: none;
}
body table,
body .slide table {
  border-collapse: collapse;
  border-spacing: 0;
}
body h1,
body .slide h1,
body h2,
body .slide h2,
body h3,
body .slide h3,
body h4,
body .slide h4,
body h5,
body .slide h5,
body h6,
body .slide h6 {
  font-weight: bold;
}
body h1,
body .slide h1 {
  font-size: 1.875em;
  /*30 / 16*/
  line-height: 1.6em;
  /* 48 / 30*/
  margin-top: 2em;
}
body h2,
body .slide h2,
body h3,
body .slide h3 {
  font-size: 1.3125em;
  /*21 / 16*/
  line-height: 1.15;
  /*24 / 21*/
  margin-top: 2.285714em;
  /*48 / 21*/
  margin-bottom: 1.15em;
  /*24 / 21*/
}
body h3,
body .slide h3 {
  font-weight: normal;
}
body h4,
body .slide h4 {
  font-size: 1.125em;
  /*18 / 16*/
  margin-top: 2.67em;
  /*48 / 18*/
}
body h5,
body .slide h5,
body h6,
body .slide h6 {
  font-size: 1em;
  /*16*/
}
body h1,
body .slide h1 {
  border-bottom: 1px solid;
  margin-bottom: 1.875em;
  padding-bottom: 0.8125em;
}
body a,
body .slide a {
  text-decoration: none;
  color: #065588;
}
body a:hover,
body .slide a:hover,
body a:active,
body .slide a:active {
  text-decoration: underline;
}
body p,
body .slide p,
body blockquote,
body .slide blockquote,
body .md-fences,
body .slide .md-fences {
  margin-bottom: 1.5em;
}
body h1,
body .slide h1,
body h2,
body .slide h2,
body h3,
body .slide h3,
body h4,
body .slide h4,
body h5,
body .slide h5,
body h6,
body .slide h6 {
  margin-bottom: 1.5em;
}
body blockquote,
body .slide blockquote {
  font-style: italic;
  border-left: 5px solid;
  margin-left: 2em;
  padding-left: 1em;
}
body ul,
body .slide ul,
body ol,
body .slide ol {
  margin: 0 0 1.5em 1.5em;
}
body ol li,
body .slide ol li {
  list-style-type: decimal;
  list-style-position: outside;
}
body ul li,
body .slide ul li {
  list-style-type: disc;
  list-style-position: outside;
}
body li > p,
body .slide li > p {
  margin-top: 0;
  margin-bottom: 0;
}
body .md-meta,
body .slide .md-meta,
body .md-before,
body .slide .md-before,
body .md-after,
body .slide .md-after {
  color: #999;
}
body table,
body .slide table {
  margin-bottom: 1.5em;
  /*24 / 16*/
  font-size: 1em;
  /* width: 100%; */
}
body thead th,
body .slide thead th,
body tfoot th,
body .slide tfoot th {
  padding: .25em .25em .25em .4em;
  text-transform: uppercase;
}
body th,
body .slide th {
  text-align: left;
}
body td,
body .slide td {
  vertical-align: top;
  padding: .25em .25em .25em .4em;
}
body code,
body .slide code,
body .md-fences,
body .slide .md-fences {
  background-color: #dadada;
  padding-left: 1ch;
  padding-right: 1ch;
}
body .md-fences,
body .slide .md-fences {
  margin-left: 2em;
  margin-bottom: 3em;
}
body .md-fences .CodeMirror.CodeMirror-wrap,
body .slide .md-fences .CodeMirror.CodeMirror-wrap {
  top: -0.8em;
}
body pre,
body .slide pre,
body code,
body .slide code,
body tt,
body .slide tt {
  font-size: .875em;
  line-height: 1.714285em;
}
body h1,
body .slide h1 {
  line-height: 1.3em;
  font-weight: normal;
  margin-bottom: 0.5em;
}
body p + ul,
body .slide p + ul,
body p + ol,
body .slide p + ol {
  margin-top: -1em;
}
body h3 + ul,
body .slide h3 + ul,
body h4 + ul,
body .slide h4 + ul,
body h5 + ul,
body .slide h5 + ul,
body h6 + ul,
body .slide h6 + ul,
body h3 + ol,
body .slide h3 + ol,
body h4 + ol,
body .slide h4 + ol,
body h5 + ol,
body .slide h5 + ol,
body h6 + ol,
body .slide h6 + ol {
  margin-top: .5em;
}
body li > ul,
body .slide li > ul,
body li > ol,
body .slide li > ol {
  margin-top: inherit;
}
body h2,
body .slide h2,
body h3,
body .slide h3 {
  margin-bottom: .75em;
}
body hr,
body .slide hr {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid;
  border-left: none;
}
body h1,
body .slide h1 {
  border-color: #c5c5c5;
}
body blockquote,
body .slide blockquote {
  border-color: #bababa;
  color: #656565;
}
body thead.md-table-edit,
body .slide thead.md-table-edit {
  background-color: transparent;
}
body thead,
body .slide thead {
  background-color: #dadada;
}
body tr:nth-child(even),
body .slide tr:nth-child(even) {
  background: #e8e7e7;
}
body hr,
body .slide hr {
  border-color: #c5c5c5;
}
body .task-list,
body .slide .task-list {
  padding-left: 1rem;
}
body .task-list-item,
body .slide .task-list-item {
  list-style-type: none;
  margin-left: -1.8em;
}
body .task-list-item .task-list-item-checkbox,
body .slide .task-list-item .task-list-item-checkbox {
  margin-right: 0.8em;
}
body .task-list-item input:before,
body .slide .task-list-item input:before {
  content: '\221A';
  display: inline-block;
  width: 1.25rem;
  height: 1.5rem;
  vertical-align: middle;
  text-align: center;
  color: #ddd;
  background-color: #F3F2EE;
}
body .task-list-item input:checked:before,
body .slide .task-list-item input:checked:before,
body .task-list-item input[checked]:before,
body .slide .task-list-item input[checked]:before {
  color: inherit;
}
body img,
body .slide img {
  max-width: 100%;
}
