body,
body .slide {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #363B40;
  fill: currentColor;
  font-style: normal;
  line-height: 1.625rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body hr,
body .slide hr {
  height: 2px;
  border: 0;
  margin: 50px 0 !important;
}
body h1,
body .slide h1,
body h2,
body .slide h2,
body h3,
body .slide h3,
body h4,
body .slide h4,
body h5,
body .slide h5,
body h6,
body .slide h6 {
  font-family: "Lucida Grande", "Corbal", Georgia, serif;
  font-weight: normal;
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
body h1,
body .slide h1 {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.5rem;
  /* 40px */
  margin-bottom: 1.5rem;
  /* 24px */
  letter-spacing: -1.5px;
}
body h2,
body .slide h2 {
  font-size: 1.5rem;
  /* 24px */
  line-height: 1.875rem;
  /* 30px */
  margin-bottom: 1.5rem;
  /* 24px */
  letter-spacing: -1px;
}
body h3,
body .slide h3 {
  font-size: 1.125rem;
  /* 18px */
  line-height: 1.5rem;
  /* 24px */
  margin-bottom: 1.5rem;
  /* 24px */
  letter-spacing: -1px;
}
body h4,
body .slide h4 {
  font-size: 1rem;
  /* 16px */
  line-height: 1.375rem;
  /* 22px */
  margin-bottom: 1.5rem;
  /* 24px */
}
body h5,
body .slide h5 {
  font-size: 1rem;
  /* 16px */
  line-height: 1.25rem;
  /* 22px */
  margin-bottom: 1.5rem;
  /* 24px */
}
body h6,
body .slide h6 {
  font-size: 1rem;
  /* 16px */
  line-height: 1rem;
  /* 16px */
  margin-bottom: 0.75rem;
  font-weight: bold;
}
body a,
body .slide a {
  text-decoration: none;
  outline: 0;
}
body a:hover,
body .slide a:hover {
  outline: 0;
}
body a:focus,
body .slide a:focus {
  outline: thin dotted;
}
body p,
body .slide p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
body p,
body .slide p,
body ul,
body .slide ul,
body dd,
body .slide dd,
body ol,
body .slide ol,
body hr,
body .slide hr,
body address,
body .slide address,
body pre,
body .slide pre,
body table,
body .slide table,
body iframe,
body .slide iframe,
body .wp-caption,
body .slide .wp-caption,
body .wp-audio-shortcode,
body .slide .wp-audio-shortcode,
body .wp-video-shortcode,
body .slide .wp-video-shortcode {
  margin-top: 0;
  margin-bottom: 1.5rem;
  /* 24px */
}
body audio:not([controls]),
body .slide audio:not([controls]) {
  display: none;
}
body [hidden],
body .slide [hidden] {
  display: none;
}
body ::-moz-selection,
body .slide ::-moz-selection {
  background: #4a89dc;
  color: #fff;
  text-shadow: none;
}
body *.in-text-selection,
body .slide *.in-text-selection,
body ::selection,
body .slide ::selection {
  background: #4a89dc;
  color: #fff;
  text-shadow: none;
}
body ul,
body .slide ul,
body ol,
body .slide ol {
  padding: 0 0 0 1.875rem;
  /* 30px */
}
body ul,
body .slide ul {
  list-style: square;
}
body ol,
body .slide ol {
  list-style: decimal;
}
body ul ul,
body .slide ul ul,
body ol ol,
body .slide ol ol,
body ul ol,
body .slide ul ol,
body ol ul,
body .slide ol ul {
  margin: 0;
}
body b,
body .slide b,
body th,
body .slide th,
body dt,
body .slide dt,
body strong,
body .slide strong {
  font-weight: bold;
}
body i,
body .slide i,
body em,
body .slide em,
body dfn,
body .slide dfn,
body cite,
body .slide cite {
  font-style: italic;
}
body blockquote,
body .slide blockquote {
  padding-left: 1.875rem;
  margin: 0 0 1.875rem 1.875rem;
  border-left: solid 2px #474d54;
  padding-left: 30px;
  margin-top: 35px;
}
body pre,
body .slide pre,
body code,
body .slide code,
body kbd,
body .slide kbd,
body tt,
body .slide tt,
body var,
body .slide var {
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
body pre.md-fences,
body .slide pre.md-fences {
  padding: 10px 30px;
  margin-bottom: 20px;
  border: 1px solid;
}
body .md-fences .code-tooltip,
body .slide .md-fences .code-tooltip {
  bottom: -3.2em;
}
body code,
body .slide code,
body kbd,
body .slide kbd,
body tt,
body .slide tt,
body var,
body .slide var {
  padding: 2px 5px;
}
body table,
body .slide table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
body th,
body .slide th,
body td,
body .slide td {
  padding: 5px 10px;
  vertical-align: top;
}
body a,
body .slide a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body hr,
body .slide hr {
  background: #474d54;
  /* variable */
}
body #write > *:first-child,
body .slide #write > *:first-child {
  margin-top: 40px;
}
body h1,
body .slide h1 {
  margin-top: 2em;
}
body h1,
body .slide h1,
body h2,
body .slide h2,
body h3,
body .slide h3,
body h4,
body .slide h4,
body h5,
body .slide h5,
body h6,
body .slide h6,
body p,
body .slide p,
body .mathjax-exps,
body .slide .mathjax-exps,
body .math,
body .slide .math,
body li,
body .slide li,
body table,
body .slide table {
  color: #DEDEDE;
}
body a,
body .slide a {
  color: #e0e0e0;
  text-decoration: underline;
}
body a:hover,
body .slide a:hover {
  color: #fff;
}
body b,
body .slide b,
body th,
body .slide th,
body dt,
body .slide dt,
body strong,
body .slide strong {
  color: #DEDEDE;
  /* variable */
}
body mark,
body .slide mark {
  background: #D3D40E;
}
body blockquote,
body .slide blockquote {
  color: #9DA2A6;
}
body table a,
body .slide table a {
  color: #DEDEDE;
  /* variable */
}
body th,
body .slide th,
body td,
body .slide td {
  border: solid 1px #474d54;
  text-align: left;
  /* variable */
}
body li > p,
body .slide li > p {
  margin-top: 0;
  margin-bottom: 0;
}
body .task-list,
body .slide .task-list {
  padding-left: 0;
}
body .task-list-item,
body .slide .task-list-item {
  list-style: none;
  margin-left: -2em;
}
body .task-list-item .task-list-item-checkbox,
body .slide .task-list-item .task-list-item-checkbox {
  margin-right: 0.8em;
}
body .task-list-item input,
body .slide .task-list-item input {
  top: 0.1875rem;
}
body .task-list-item input:before,
body .slide .task-list-item input:before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #b8bfc6;
  background-color: #363B40;
  margin-top: -0.4375rem;
}
body .task-list-item input:checked:before,
body .slide .task-list-item input:checked:before,
body .task-list-item input[checked]:before,
body .slide .task-list-item input[checked]:before {
  content: '\221A';
  /*◘*/
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: #DEDEDE;
}
body img,
body .slide img {
  max-width: 100%;
}
