html .markdown-preview-enhanced .pagebreak,
html .markdown-preview-enhanced .newpage {
  page-break-before: always;
}
@media screen and (min-width: 914px) {
  html .markdown-preview-enhanced {
    width: 980px;
    margin: 10px auto;
  }
}
@media screen and (max-width: 400px) {
  html .markdown-preview-enhanced {
    font-size: 14px;
    margin: 0 auto;
    padding: 15px;
  }
}
html .markdown-preview-enhanced pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
html .markdown-preview-enhanced pre.line-numbers > code {
  position: relative;
}
html .markdown-preview-enhanced pre.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 1em;
  font-size: 100%;
  left: 0;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html .markdown-preview-enhanced pre.line-numbers .line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
html .markdown-preview-enhanced pre.line-numbers .line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
html .markdown-preview-enhanced .mathjax-exps .MathJax_Display {
  text-align: center !important;
}
html .markdown-preview-enhanced:not([for="preview"]) .code-chunk .btn-group {
  display: none;
}
html .markdown-preview-enhanced:not([for="preview"]) .code-chunk .status {
  display: none;
}
.markdown-preview-enhanced[data-presentation-mode] {
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.markdown-preview-enhanced[data-presentation-mode] h1,
.markdown-preview-enhanced[data-presentation-mode] h2,
.markdown-preview-enhanced[data-presentation-mode] h3,
.markdown-preview-enhanced[data-presentation-mode] h4,
.markdown-preview-enhanced[data-presentation-mode] h5,
.markdown-preview-enhanced[data-presentation-mode] h6 {
  margin-top: 0;
}
.markdown-preview-enhanced[data-presentation-mode] strong {
  font-weight: bold;
}
.markdown-preview-enhanced[data-presentation-mode]::-webkit-scrollbar {
  display: none;
}
.markdown-preview-enhanced .slides {
  text-align: left !important;
}
